RemoteFiles/isbnservice_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservices.daehosting.com/ISBN" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://webservices.daehosting.com/ISBN">
      <xsd:element ibmSchExtn:docRoot="true" name="IsValidISBN13">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sISBN" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="IsValidISBN13Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IsValidISBN13Result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="IsValidISBN10">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sISBN" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="IsValidISBN10Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IsValidISBN10Result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>