RemoteFiles/isbnservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ISBNService" targetNamespace="http://webservices.daehosting.com/ISBN" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://webservices.daehosting.com/ISBN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="isbnservice_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="ISBNServiceSoapBinding" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="ISBNServiceSoapBinding12" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservices.daehosting.com/ISBN" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
      <xsd:include schemaLocation="isbnservice_InlineSchema1.xsd"/>
    </xsd:schema>
    </types>
  <message name="IsValidISBN13SoapRequest">
    <part element="tns:IsValidISBN13" name="parameters"/>
  </message>
  <message name="IsValidISBN13SoapResponse">
    <part element="tns:IsValidISBN13Response" name="parameters"/>
  </message>
  <message name="IsValidISBN10SoapRequest">
    <part element="tns:IsValidISBN10" name="parameters"/>
  </message>
  <message name="IsValidISBN10SoapResponse">
    <part element="tns:IsValidISBN10Response" name="parameters"/>
  </message>
  <portType name="ISBNServiceSoapType">
    <operation name="IsValidISBN13">
      <documentation>The test is done by calculation on the first 12 digits and compare the result with the checksum number at the end. You have to pass a 13 digits number.</documentation>
      <input message="tns:IsValidISBN13SoapRequest"/>
      <output message="tns:IsValidISBN13SoapResponse"/>
    </operation>
    <operation name="IsValidISBN10">
      <documentation>The test is done by calculation on the first 9 digits and compare the result with the checksum number at the end. You have to pass a 10 digits number or 8 digits and an X.</documentation>
      <input message="tns:IsValidISBN10SoapRequest"/>
      <output message="tns:IsValidISBN10SoapResponse"/>
    </operation>
  </portType>
  <binding name="ISBNServiceSoapBinding" type="tns:ISBNServiceSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="IsValidISBN13">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IsValidISBN10">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="ISBNServiceSoapBinding12" type="tns:ISBNServiceSoapType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="IsValidISBN13">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="IsValidISBN10">
      <soap12:operation soapAction="" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ISBNService">
    <documentation>DataFlex Web Service to validate ISBN numbers.</documentation>
    <port binding="tns:ISBNServiceSoapBinding" name="ISBNServiceSoap">
      <soap:address location="http://webservices.daehosting.com/services/isbnservice.wso"/>
    </port>
    <port binding="tns:ISBNServiceSoapBinding12" name="ISBNServiceSoap12">
      <soap12:address location="http://webservices.daehosting.com/services/isbnservice.wso"/>
    </port>
  </service>
</definitions>